.footer {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  margin: 0 auto;

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    flex-direction: column;
  }

  &__logo {
    width: 10rem;
  }

  &__icon {
    margin: 0 0.5rem;
    width: 1rem;
  }

  &__image {
    width: 4.5rem;
    margin: 0 0.5rem;
    @media (max-width: $breakpoint-tablet) {
      margin: 2rem 0.5rem;
      width: 7rem;
    }
  }

  &__divider {
    border-bottom: 1px solid $grey-2;
  }
}