.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  margin: 0 auto;

  @media (max-width: $breakpoint-tablet) {
    justify-content: center;
    padding: 0.25rem 0;
    margin: 0px;
  }

  &__boton {
    align-items: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    margin: 0 1rem;
    padding: 0.75rem 1rem;
    border-radius: 5px;
  }

  &__boton-l {
    cursor: pointer;
    border: 1px solid $grey-1;
    background: $yellow;
    color: black;

    @media (max-width: $breakpoint-tablet){
      background: $white;
      color: $blue-1
    }
  }

  &__boton-r {
    cursor: pointer;
    border: 1px solid $blue-1;
    color: $blue-1;
  }

  &__boton-r:hover {
    border: 1px solid $grey-1;
    background: $blue-1;
    color: $white;
  }

  &__boton-l:hover {
    border: 1px solid $grey-1;
    background: $black;
    color: $white;
  }


  &__left {
    cursor: pointer;
    background: $grey-1;
    @media (max-width: $breakpoint-tablet) {
      display: none;
      padding: 0;
      margin: 0;
    }
  }

  &__middle {
    @media (max-width: $breakpoint-tablet) {
      width: 75%;
    }
  }

  &__logo {
    width: 15rem;
    @media (max-width: $breakpoint-tablet) {
      width: 12rem;
    }
    @media (max-width: $breakpoint-mobile) {
      width: 10rem;
    }
  }

  &__right {
    @media (max-width: $breakpoint-tablet) {
      padding: 0;
      margin: 0;
      border: none;
    }
    @media (max-width: $breakpoint-mobile) {
      justify-content: space-between;
      padding: 0;
      margin: 0;
    }

  }

  &__icons {
    width: 0.6rem;
    padding-left: 0.5rem;
    color: $blue-1
  }
}